.container {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    margin-left:850px;
    
}

input {
    width: 25%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 700px;
    
    
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    
}

    button:hover {
        background-color: #0056b3;
    }

.red-label {
    color: red;
}

.centered-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 {
    margin-left: 800px;
    margin-right: 100px
}

.error-message {
    text-align: center;
    color: red;
}

.success-message {
    color: green; 
    max-width: 100%; 
    display: inline-block; 
    text-align: center; 
    font-size: 18px; 
}

.center-text {
    text-align: center; 
}
